.header {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
}

nav.navbar {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 70px;
  background: transparent;
  border: 0;
}

.navbar-brand {
  font-size: 2rem;
}

.logoIOGO {
  color: #ffffff;
}

.logoETH {
  color: #f04b4b;
  margin-left: 10px;
}

nav.navbar a.nav-link {
  text-align: center;
  color: #ffffff;
}

.d-sm-inline {
  display: block !important;
}

nav.navbar a.nav-link .badge {
  top: 8px;
  right: 8px;
}

.header-deposit {
  position: relative;
  bottom: 15px;
  margin-right: 0.6rem;
}

nav.navbar .dropdown-menu {
  min-width: 203.47px;
}

nav.navbar .dropdown-item {
  padding: 0.5rem 1rem !important;
}

nav.navbar .sidebar-toggle {
  display: none;
}

.list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

.no-background {
  background: transparent !important;
  border: 0 !important;
}

.lng-positision {
  position: relative;
  top: 12px;
}

@media (max-width: 1199px) {
  nav.navbar .visible {
    display: none !important;
  }

  nav.navbar .sidebar-toggle {
    display: block !important;
  }
}

@media (max-width: 575px) {
  nav.navbar {
    min-height: 60px;
  }

  nav.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
  }
}
