.action-infor {
  padding: 0 15px;
}

.action-infor h3:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
}

.action-infor h3:nth-child(2) {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
}

.action-infor h2 {
  display: inline-block;
  vertical-align: middle;
}
