.bg-step5 {
  background-image: url(../../assets/images/home5.svg);
  width: 30vw;
  height: 17vw;
  position: absolute;
  top: 10vw;
  left: 35vw;
}

.bg-step6 {
  background-image: url(../../assets/images/home6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 62vw;
  height: 40vw;
  position: absolute;
  top: 25vw;
  left: 20vw;
}

.bg-step1 {
  background-image: url(../../assets/images/home1.svg);
  width: 58vw;
  height: 39.3vw;
  position: absolute;
  top: 68vw;
  left: 20vw;
}

.bg-step2 {
  background-image: url(../../assets/images/home2.svg);
  width: 57.86vw;
  height: 29.7vw;
  position: absolute;
  top: 113vw;
  left: 20vw;
}

.bg-step3 {
  background-image: url(../../assets/images/home3.svg);
  width: 78vw;
  height: 65vw;
  position: absolute;
  top: 150vw;
  left: 20vw;
}

.bg-step4 {
  background-image: url(../../assets/images/home4.svg);
  width: 35vw;
  height: 10.6vw;
  position: absolute;
  top: 220vw;
  left: 32vw;
}

.footer-home {
  background-color: #312a89;
  padding: 20px 0;
}

.footer-font {
  font-size: 0.8rem;
}

.w-70-per {
  width: 70%;
}

.footer-right {
  justify-content: space-evenly;
  margin-top: 10px;
}

.footer-left {
  width: 25%;
  margin-left: 40px;
}

.footer-img {
  height: 40px;
  margin-bottom: 30px;
}