.fontcustom {
  font-size: 0.7rem !important;
  text-align: left;
  margin-top: 0.3rem;
}

.icon-indicator {
  font-size: 80px;
  margin-top: -3rem;
  display: block;
  text-align: center;
}

.m-l-10 {
  margin-left: -10px;
}
