.div-group {
  display: inline-block;
  text-align: left;
}

.type-account {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #28a745;
}

.amount-account {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
}

.div-main::after {
  color: #28a745;
}

.div-main,
.div-main:hover,
.div-main:focus {
  background-color: #2d3035 !important;
  border-color: #28a745 !important;
  border-top: 0;
}

.border-lang {
  transform: translate(-130px, 45px) !important;
}

.m-1-3rem {
  margin-left: 0.3rem;
}

.dropdown-toggle-lang:after {
  display: none;
}

.dropdown-toggle-lang:focus {
  box-shadow: none;
  text-decoration: none;
}

.dropdown-toggle-lang:hover {
  text-decoration: none;
}

.m-t--27 {
  margin-top: -27px;
}

.div-item {
  display: 'flex';
  align-items: 'center';
}
