.block-container {
  background: #49505a;
  border-radius: 10px;
  margin: 15px;
  border-radius: 10px;
  padding: 15px;
}

.block .title {
  margin-bottom: 10px;
}

.block .title strong:first-child {
  color: #ffffff;
}

.amount-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #5f6773;
  border: 0.5px solid #868e96;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
}

.text-input {
  flex: 1;
  width: 100%;
  margin-left: 5px;
  background: transparent;
  border: none;
  color: #16ceb9;
}

.text-currency {
  color: #16ceb9;
  font-size: 20px;
}

.profit-text {
  font-size: 22px;
}

.profit-result {
  font-size: 16px;
  margin-left: 0.5rem;
}

.time-action {
  display: flex;
  padding: 0 15px 15px;
  justify-content: space-between;
}
