.buy-sel-action {
  display: block;
}

.btn-buy-sel-action {
  border-radius: 10px;
}

.btn-buy-sel-icon {
  margin-right: 5px;
}

.btn-buy-sel-text {
  margin-left: 5px;
  font-size: 20px;
  line-height: 26px;
  vertical-align: middle;
  font-weight: bold;
}

.modal-w-90-per {
  max-width: 90% !important;
  margin: 0 auto;
}

.modal-content-custom {
  background: transparent !important;
  border: 0;
}

.modal-body-custom {
  padding: 0;
  text-align: center;
}

.text-result {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  font-family: sans-serif;
  position: absolute;
  top: 9.8rem;
  left: -2rem;
  color: #fff;
}

.img-win {
  width: 335px;
  height: 354px;
  position: relative;
  top: -6rem;
  left: -8rem;
}

.modal-w-345 {
  width: 335px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .buy-sel-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .btn-buy-sel-action {
    height: 55px;
    width: 25%;
    margin: 0 !important;
    display: inline-block;
  }

  .btn-buy-sel-action:nth-child(1) {
    margin-left: 24% !important;
  }

  .btn-buy-sel-action:nth-child(2) {
    margin-right: 24% !important;
  }

  .btn-buy-sel-icon {
    height: 15px;
    margin-right: 10px;
  }

  .img-win {
    top: 0;
    left: 0;
  }

  .text-result {
    top: 15.8rem;
    left: 6rem;
  }
}

@media (max-width: 767px) {
  .buy-sel-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -4.3rem;
  }

  .btn-buy-sel-action {
    height: 45px;
    width: 38%;
    margin: 0 !important;
    display: inline-block;
  }

  .btn-buy-sel-action:nth-child(1) {
    margin-left: 0 !important;
  }

  .btn-buy-sel-action:nth-child(2) {
    margin-right: 0 !important;
  }

  .img-win {
    position: relative;
    top: 0rem;
    left: 0rem;
  }

  .text-result {
    top: 15.8rem;
    left: 5rem;
  }
}
