.buy-sel-action {
  display: inline-block;
}

.btn-buy-sel-action {
  border-radius: 10px;
  height: 55px;
}

.btn-buy-sel-icon {
  height: 26px;
  margin-right: 10px;
}

.btn-buy-sel-text {
  font-size: 20px;
  line-height: 26px;
  vertical-align: middle;
  font-weight: bold;
}

.modal-w-90-per {
  max-width: 90% !important;
}

.modal-content-custom {
  background: transparent !important;
  border: 0;
}

.modal-body-custom {
  padding: 0;
  text-align: center;
}

.text-result {
  font-size: 4rem;
  font-style: italic;
  font-weight: 900;
  font-family: sans-serif;
  position: relative;
  bottom: 11.5rem;
  right: 2rem;
}

@media (max-width: 575px) {
  .buy-sel-action {
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-buy-sel-action {
    height: 45px;
    width: 48%;
    margin: 0 !important;
    display: inline-block;
  }

  .btn-buy-sel-icon {
    height: 15px;
    margin-right: 10px;
  }
}
