.action-img {
  background-image: url('assets/images/wallet_card.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}

.action-bottom {
  position: absolute;
  margin: 0 auto;
  top: 14em;
  left: 2em;
}

.block-custom {
  background: #2d3035;
  border-radius: 10px;
}

.fs-2rem {
  font-size: 2rem;
}

.date-group {
  display: flex;
}

@media (max-width: 1023px) {
  .statistic-block {
    padding: 15px;
  }

  .statistic-block .number {
    font-size: 1.1rem;
  }

  .fs-2rem {
    font-size: 1.1rem;
  }

  .date-group {
    display: block;
  }

  .datePicker-group {
    justify-content: flex-end;
  }

  .datePicker-group:first-child {
    margin-bottom: 10px;
  }

  .from-to {
    justify-content: space-between !important;
  }
}
