.action-img {
  background-image: url('assets/images/wallet_card.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 300px;
  width: 300px;
}

.action-bottom {
  position: absolute;
  margin: 0 auto;
  top: 14em;
  left: 2em;
}

.block-custom {
  background: #2d3035;
  border-radius: 10px;
}

.fs-2rem {
  font-size: 2rem;
}
