nav#sidebar {
  background: transparent;
  border: 0;
}

nav#sidebar.shrinked {
  width: 100px;
}

nav#sidebar.shrinked ul i {
  font-size: 1.8rem;
}

nav#sidebar.shrinked ul a {
  padding: 10px 5px;
}

nav#sidebar li.active::before {
  background: #f04b4b;
}

nav#sidebar li > a.active,
nav#sidebar li i.active,
nav#sidebar li a:hover i,
nav#sidebar li a:hover {
  color: #f04b4b;
}

nav#sidebar a {
  color: #ffffff;
}

@media (max-width: 575px) {
  .sidebar-container {
    background-color: #21252a;
    border-right: 0;
    top: 60px;
    z-index: 9999;
  }

  .sidebar-toggle {
    width: 36px;
    height: 36px;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
    background: #282b2f;
    color: #8a8d93;
    font-size: 1.1rem;
    border: 2px solid #3d4148;
    z-index: 9999;
    position: fixed;
    right: 15px;
    top: 10px;
    outline: 0 !important;
  }
}
