nav#sidebar {
  background: transparent;
  border: 0;
}

nav#sidebar.shrinked {
  width: 100px;
}

nav#sidebar.shrinked ul i {
  font-size: 1.8rem;
}

nav#sidebar.shrinked ul a {
  padding: 10px 5px;
}

nav#sidebar li.active::before {
  background: #f04b4b;
}

nav#sidebar li > a.active,
nav#sidebar li i.active,
nav#sidebar li a:hover i,
nav#sidebar li a:hover {
  color: #f04b4b;
}

nav#sidebar a {
  color: #ffffff;
}
