.block-bg {
  background-color: #2d3035;
  border-radius: 10px;
}

.avatar-custom {
  width: 90px !important;
  height: 90px !important;
  background: transparent !important;
  margin: 0 auto !important;
}

.date-group {
  display: flex;
}

@media (max-width: 575px) {
  .statistic-block {
    padding: 15px;
  }

  .statistic-block .number {
    font-size: 1.1rem;
  }

  .fs-2rem {
    font-size: 1.1rem;
  }

  .date-group {
    display: block;
  }

  .datePicker-group {
    justify-content: flex-end;
  }

  .datePicker-group:first-child {
    margin-bottom: 10px;
  }

  .from-to {
    justify-content: space-between !important;
  }
}
