.timer-wrapper {
  display: inline-block;
}

.timer-container {
  width: 120px;
  height: 120px;
}

.timer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 575px) {
  .timer-container {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
}
