.timer-wrapper {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.timer-container {
  width: 80px;
  height: 80px;
}

.timer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 575px) {
  .timer-container {
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }

  .value {
    font-size: 25px;
  }
}
