html,
body {
  margin: 0;
  padding: 0;
  background: #21252a;
}

section {
  padding: 0;
  margin-left: 100px;
}

.background-home {
  background-image: url(./assets/images/back_login.png);
  background-size: cover;
  /* background-position: center; */
  width: 100vw;
  height: 240vw;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(./assets/images/back_login.png);
  background-size: cover;
  width: 100vw;
  height: 100vw;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.p-40 {
  padding: 40px;
}

.login-page .form-holder .form .form-group {
  margin-bottom: 20px;
}

.sidebar-container {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 2;
  height: 100%;
  background-color: transparent;
  border-right: 0;
}

.w-400 {
  width: 400px;
}

.w-120 {
  width: 120px;
}

.w-125 {
  width: 125px;
}

.w-70 {
  width: 70px;
}

.w-80 {
  width: 80px;
}

.w-40 {
  width: 40px;
}

.block {
  margin-bottom: 15px;
  background: transparent;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  cursor: pointer;
}

.checkbox-template:checked::before,
.radio-template:checked::before,
.Toastify__toast--error {
  background: #f04b4b;
}

.Toastify__toast {
  min-height: auto;
}

.Toastify__toast-body {
  padding: 0 6px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Muli', sans-serif;
}

.card {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #ffffff !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #16ceb9 !important;
  color: #fff !important;
}

.react-datepicker {
  background-color: #2d3035 !important;
  border: 1px solid #393c43 !important;
  color: #8a8d93 !important;
}

.react-datepicker__header {
  background-color: #2d3035 !important;
  border-bottom: 1px solid #393c43 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #ffffff !important;
}

.react-datepicker__day--keyboard-selected {
  color: #fff !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: #393c43 !important;
}

.custom-control {
  padding-left: 0;
}

.react-datepicker__day--disabled {
  color: #8a8d93 !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #f04b4b !important;
}

/** Date Picker*/
.datePicker-group {
  width: 250px;
  height: 31px;
}

.datePicker-text {
  display: flex;
  line-height: 1;
  height: 31px;
  padding: 0.4rem 0.75rem;
}

.datePicker-input {
  width: 120px;
  height: 31px;
}

.shadow-none:focus {
  box-shadow: none;
}

@media (max-width: 1023px) {
  section {
    margin-left: 0 !important;
  }

  nav.navbar {
    background-color: #21252a !important;
    border-bottom: 1px solid #34373d !important;
  }

  .table td,
  .table th {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  #chat-application {
    display: none !important;
  }
}
